<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xinlake.armoury">

    <!-- Declare permissions -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Declare features -->
    <uses-feature android:name="android.hardware.camera" />

    <application>
        <activity
            android:name="armoury.mobile.picker.ImagePickActivity"
            android:theme="@style/XinPage" />

        <activity
            android:name="armoury.vision.CameraXActivity"
            android:clearTaskOnLaunch="true"
            android:screenOrientation="nosensor"
            android:theme="@style/XinCamera">

            <!-- Declare notch support -->
            <meta-data
                android:name="android.notch_support"
                android:value="true" />
        </activity>
    </application>
</manifest>